@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply text-white;
        /*font-family: 'Micro 5', sans-serif;*/
        /*font-weight: normal;*/
    }
}

@layer components {
    .font-geostar {
        font-family: 'Geostar Fill', sans-serif;
    }

    .font-handjet {
        font-family: 'Handjet', sans-serif;
    }

    .font-display {
        font-family: 'Jersey 10', sans-serif;
    }


    .background {
        width: 100vw;
        height: 100vh;
        min-height: 100%;
        background-position: center;
        position: fixed;
        background-size: cover;
        z-index: -1;
    }
}